@import "../components/**/**";
@main-color: #2EC4B6;
@background-color: #011627;
@white-color: #FDFFFC;

body {
  background-color: lighten(@background-color, 10%);
  font-family: 'Roboto', sans-serif;
}
