<div layout="row"
     layout-align="start center"
     class="provider-counter">
	<div layout="row"
	     layout-align="start center"
	     style="margin-right:10px;" class="counter-container">
		<div class="icon twitter active">
			<i class="fa fa-twitter"
			   aria-hidden="true"></i>
		</div>
		<span> {{($ctrl.data | filter: {provider: 'twitter'}).length}}</span>
	</div>
	<div layout="row"
	     layout-align="start center" class="counter-container">
		<div class="icon reddit active"  style="border-radius: 0;">
			<i class="fa fa-reddit-alien"></i>
		</div>
		<span> {{($ctrl.data | filter: {provider: 'reddit'}).length}}</span>
	</div>
</div>
<div layout="column"
     class="response-container">
	<div layout="column" class="scroll">
	<div layout="row"
	     layout-align="start center"
	     class="content"
	     ng-repeat="data in $ctrl.data">
		<!--Div is required so that img has always the same size-->
		<div>
			<div ng-if="data.provider === 'twitter'"
			     class="icon twitter active">
				<i class="fa fa-twitter"
				   aria-hidden="true"></i>
			</div>
			<div ng-if="data.provider === 'reddit'"
			     class="icon reddit active">
				<i class="fa fa-reddit-alien"></i>
			</div>
		</div>
		<button class="emotion-label {{data.emotion}}">{{data.emotion}}</button>
		<span class="analyzed-text"
		      flex>{{data.text}}</span>
	</div>
	</div>
</div>
